<div class="col-sm-12 col-md-4 col-lg-4">
	<!--Projects-->
	<div class="panel panel-purple panel-colorful">
		<div class="pad-all text-center">
			<span class="text-5x text-thin"><%#= @projects_count %></span>
			<p>Projects</p>
			<i class="fa fa-university"></i>
		</div>
	</div>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">
	<!--Task-->
	<div class="panel panel-success panel-colorful">
		<div class="pad-all text-center">
			<span class="text-5x text-thin"><%#= @products_count  %></span>
			<p>Products</p>
			<i class="fa fa-building"></i>
		</div>
	</div>
</div>

<div class="col-sm-12 col-md-4 col-lg-4">				
	<!--Reports-->
	<div class="panel panel-dark panel-colorful">
		<div class="pad-all text-center">
			<span class="text-5x text-thin"><%#= @agent_count %></span>
			<p>Agents</p>
			<i class="fa fa-users"></i>
		</div>
	</div>
</div>

