<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  Please <%= link_to "Login", new_user_session_path %>
<% end %>

<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
