<div class="row" id="content_div">
  <div class="col-lg-6">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Admin detail</h3>
      </div>

      <div class="panel-body">
          <p>
            <strong>Display Name:</strong>
            <%= @admin.display_name %>
          </p>

          <p>
            <strong>Email:</strong>
            <%= @admin.email %>
          </p>


          <%= link_to 'Edit', edit_admin_path(@admin), :class=>"btn btn-small btn-info" %>
          <%= link_to 'Back', admins_path, :class=>"btn btn-small btn-warning" %>
      </div>
    </div>
