<%= content_for(:title, "About Us") %>

<section class="about_box">
        <div class="tap_top">
            <div class="tap_top_pic">
                <img src="img/v2/about-title.png">
            </div>
            <img src="img/v2/bg-about.jpg">
        </div>

        <div class="body_about">
            <div class="about_txt">
                <div class="about_left">

                    <div class="about_orange">
                        <h3>WE ARE</h3>
                        <p>
                            TwoAcres.co , we are in I.T solution for real estate industry based in Klang Valley<br>
                            Established in 2006, we are a leading property tech company delivering a comprehensive<br>
                            range of services from Reservation Management Systems and Branding Solution to Digital<br>
                            Marketing Solution, all at very high standards and bespoke.
                        </p>
                    </div>

                    <div class="blank20"></div>
                    <div class="about_while">
                        <h3>
                            IBROCHURE
                        </h3>
                        <p>
                            Target potential buyers with contact,<br>
                            brochure of your property sent direct to<br>
                            their Whatssap! iBrochure sends to<br>
                            Whatssap to registered property seekers<br>
                            who are searching for property similar to<br>
                            yours. The iBrochure contains photos to<br>
                            showcase your property, a description,<br>
                            open for inspection, auction times and a<br>
                            map.
                        </p>
                    </div>

                    <div class="about_o_grey">
                        <h3>
                            CRM
                        </h3>
                        <p>
                            Our cloud based CRM allows  to<br>
                            track , manage and study leads to<br>
                            improve conversion and increase<br>
                            efficiency. It’s the first of its kind<br>
                            and exclusive only to TwoAcres<br>
                            partners
                        </p>
                    </div>

                </div>
                <div class="about_right">
                    <div class="about_r_up">
                        <h3>
                            RESERVATION SYSTEMS
                        </h3>
                        <p>
                            Twoacres is professional grade property management
                            software for any business operating<br> a reservation
                            system. If you rent, lease or schedule business assets,
                            Twoacres can help you run your business effectively.
                            Twoacres is improving the way guests and businesses
                            connect with each other.<br> Your life happens in real-time,
                            shouldn’t your business too?
                        </p>
                    </div>

                    <div class="blank20"></div>
                    <div class="about_black">
                        <h3>
                            LEADS ANALISTIC
                        </h3>
                        <p>
                            We generate inbound qualified leads to feed hungry<br>
                            sales teams. We power inbound marketing programs<br>
                            that generate qualified leads and nurture sales<br>
                            opportunities. We build scoring and validation systems
                            to ensure that our clients can scale up<br> their marketing
                            efforts intelligently.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>