<div class="page_content_wrap page_paddings_top">
   <div class="sc_section overflow_hidden back_image_3">
      <div class="content_wrap margin_bottom_xlarge">
         <div class="columns_wrap">
            <div class="column-1_2">
               <h2 class="sc_title sc_title_iconed margin_bottom_xmedium">
                  <span class="sc_title_icon sc_title_icon_left sc_title_icon_small icon-home2202 sc_left"></span>
                  <span class="sc_title_box">About Estate<span class="sc_title_subtitle">Who We Are & What We Do</span></span>
               </h2>
               <div class="sc_section margin_bottom_xmedium section_style_1">
                  <div class="sc_section_inner">
                     <p>We are the most trusted rental resource that connects apartment consumers to their ideal place to live. A fully searchable, agent-supplied, database is updated in real time.</p>
                  </div>
               </div>
               <div class="columns_wrap sc_columns margin_bottom_medium">
                  <div class="column-1_2 sc_column_item">
                     <ul class="sc_list sc_list_style_iconed color_1">
                        <li class="sc_list_item">
                           <span class="sc_list_icon icon-stop color_2"></span>
                           <p>Quiet Neighbourhood</p>
                        </li>
                        <li class="sc_list_item">
                           <span class="sc_list_icon icon-stop color_2"></span>
                           <p>Great Local Community</p>
                        </li>
                     </ul>
                  </div>
                  <div class="column-1_2 sc_column_item">
                     <ul class="sc_list sc_list_style_iconed color_1">
                        <li class="sc_list_item">
                           <span class="sc_list_icon icon-stop color_2"></span>
                           <p>Fabulous Views</p>
                        </li>
                        <li class="sc_list_item">
                           <span class="sc_list_icon icon-stop color_2"></span>
                           <p>Large Play Center In Yard</p>
                        </li>
                     </ul>
                  </div>
               </div>
               <a href="#" class="sc_button sc_button_box margin_bottom_medium">Learn more</a>
            </div>
            <div class="column-1_2">
               <figure class="sc_image"><img src="images/570x380.jpg" alt="" /></figure>
            </div>
         </div>
      </div>
   </div>
   <div class="sc_parallax" data-vc-parallax="1.5" data-vc-parallax-image="images/1920x1068.jpg">
      <div class="content_wrap">
         <div class="sc_section scheme_dark">
            <div class="sc_section_inner">
               <div class="sc_services_wrap">
                  <div class="sc_services sc_services_style_services-1">
                     <div class="sc_columns columns_wrap">
                        <div class="column-1_4 column_padding_bottom">
                           <div class="sc_services_item">
                              <a href="single-service.html"><span class="sc_icon icon-house263"></span></a>
                              <div class="sc_services_item_content">
                                 <h4 class="sc_services_item_title"><a href="single-service.html">Best property lists</a></h4>
                                 <div class="sc_services_item_description">
                                    <p>We provide consumers with a content-rich listings in a handy format.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="column-1_4 column_padding_bottom">
                           <div class="sc_services_item">
                              <a href="single-service.html"><span class="sc_icon icon-thumbs4"></span></a>
                              <div class="sc_services_item_content">
                                 <h4 class="sc_services_item_title"><a href="single-service.html">Best price in market</a></h4>
                                 <div class="sc_services_item_description">
                                    <p>Price estimates and sales histories for property, updating information.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="column-1_4 column_padding_bottom">
                           <div class="sc_services_item">
                              <a href="single-service.html"><span class="sc_icon icon-badges3"></span></a>
                              <div class="sc_services_item_content">
                                 <h4 class="sc_services_item_title"><a href="single-service.html">Guaranteed services</a></h4>
                                 <div class="sc_services_item_description">
                                    <p>Our managers will keep you informed and you can act with certainty.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="column-1_4 column_padding_bottom">
                           <div class="sc_services_item">
                              <a href="single-service.html"><span class="sc_icon icon-line-graphic6"></span></a>
                              <div class="sc_services_item_content">
                                 <h4 class="sc_services_item_title"><a href="single-service.html">Marketing research</a></h4>
                                 <div class="sc_services_item_description">
                                    <p>All our marketing researchers today have a tough job multitasking.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="sc_section">
      <div class="content_wrap">
         <div class="sc_section margin_bottom_medium">
            <div class="sc_section_inner">
               <h4 class="sc_title margin_top_large margin_bottom_medium">From the blog</h4>
               <div class="sc_blogger layout_classic_3">
                  <div class="isotope_wrap">
                     <div class="isotope_item isotope_column_3">
                        <div class="post_item">
                           <div class="post_featured">
                              <div class="post_thumb">
                                 <a class="hover_icon hover_icon_link" href="single-post.html">
                                 <img alt="" src="images/370x209.jpg"></a>
                              </div>
                           </div>
                           <div class="post_content isotope_item_content">
                              <div class="post_info">
                                 <span class="post_info_item">in <a href="#" class="category_link">New properties</a></span>
                              </div>
                              <h3 class="post_title"><a href="single-post.html">5 Ways to Make Your Space Feel Like Home</a></h3>
                              <div class="post_info">
                                 <span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
                                 <span class="post_info_item">On <a href="single-post.html">February 17, 2016</a></span>
                                 <span class="post_info_item post_info_counters">	
								 <a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
                                 </span>
                              </div>
                              <div class="post_descr">
                                 <p>On the best lot at Phuket is situated the Kailua Residence and is a 7...</p>
                                 <a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="isotope_item isotope_column_3">
                        <div class="post_item">
                           <div class="post_featured">
                              <div class="post_thumb">
                                 <a class="hover_icon hover_icon_link" href="single-post.html"><img alt="" src="images/370x209.jpg"></a>
                              </div>
                           </div>
                           <div class="post_content isotope_item_content">
                              <div class="post_info">
                                 <span class="post_info_item">in <a href="#" class="category_link">New properties</a></span>
                              </div>
                              <h3 class="post_title"><a href="single-post.html">2 Easy DIY Projects for a Total Kitchen</a></h3>
                              <div class="post_info">
                                 <span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
                                 <span class="post_info_item">On <a href="single-post.html">February 17, 2016</a></span>
							 <span class="post_info_item post_info_counters">	
								 <a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
                                 </span>
                              </div>
                              <div class="post_descr">
                                 <p>On the best lot at Phuket is situated the Kailua Residence and is a 7...</p>
                                 <a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="isotope_item isotope_column_3">
                        <div class="post_item">
                           <div class="post_featured">
                              <div class="post_thumb">
                                 <a class="hover_icon hover_icon_link" href="single-post.html"><img alt="" src="images/370x209.jpg"></a>
                              </div>
                           </div>
                           <div class="post_content isotope_item_content">
                              <div class="post_info">
                                 <span class="post_info_item">in <a href="#" class="category_link">New properties</a></span>
                              </div>
                              <h3 class="post_title"><a href="single-post.html">The Pumpkin Carver&#8217;s Lake House</a></h3>
                              <div class="post_info">
                                 <span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
                                 <span class="post_info_item">On <a href="single-post.html">February 17, 2016</a></span>
                                 <span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
                                 </span>
                              </div>
                              <div class="post_descr">
                                 <p>On the best lot at Phuket is situated the Kailua Residence and is a 7...</p>
                                 <a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="sc_section back_image_2">
      <div class="sc_testimonials sc_testimonials_style_testimonials-2 sc_slider_swiper sc_slider_pagination sc_slider_pagination_bottom sc_slider_nocontrols scheme_dark" data-interval="7529" data-slides-min-width="250">
         <div class="slides swiper-wrapper">
            <div class="swiper-slide">
               <div class="sc_testimonial_item">
                  <div class="sc_testimonial_content">
                     <p>Thank your team for your hard work, advice, honesty and commitment to enable us to sell my mothers house.</p>
                  </div>
                  <div class="sc_testimonial_author">
                     <a href="#" class="sc_testimonial_author_name">Irine Gosh</a>
                     <br><span class="sc_testimonial_author_position">22 years</span>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div class="sc_testimonial_item">
                  <div class="sc_testimonial_content">
                     <p>Thank you so much for your good wishes and for your not insignificant part in our move. You are stars!</p>
                  </div>
                  <div class="sc_testimonial_author">
                     <span class="sc_testimonial_author_name">Emma Bennett</span>
                     <br><span class="sc_testimonial_author_position">40 years</span>
                  </div>
               </div>
            </div>
            <div class="swiper-slide">
               <div  class="sc_testimonial_item">
                  <div class="sc_testimonial_content">
                     <p>You were superb from the start! We made the best decision. We wish the company well for the future.</p>
                  </div>
                  <div class="sc_testimonial_author">
                     <a href="#" class="sc_testimonial_author_name">Logan Hughes</a>
                     <br><span class="sc_testimonial_author_position">31 years</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="sc_slider_controls_wrap">
            <a class="sc_slider_prev" href="#"></a>
            <a class="sc_slider_next" href="#"></a>
         </div>
         <div class="sc_slider_pagination_wrap"></div>
      </div>
   </div>
   <div class="sc_section bg_color_1">
      <div class="columns_wrap sc_columns no_margins">
         <div class="column-1_2 sc_column_item">
            <div id="sc_googlemap_1" class="sc_googlemap" data-zoom="18" data-style="default">
               <div class="sc_googlemap_marker" data-title="" data-description="" data-latlng="" data-address="121 King Street, NY, USA" data-point="images/logo-map.png"></div>
            </div>
         </div>
         <div class="column-1_2 sc_column_item">
            <div class="sc_section custom_box_form">
               <div class="sc_section_inner">
                  <h4 class="sc_title margin_top_null margin_bottom_xmedium">get in touch</h4>
                  <div class="sc_form_wrap">
                     <div class="sc_form">
                        <form  data-formtype="form_custom" method="post" action="includes/sendmail.php">
                           <div class="sc_form_info">
                              <div class="sc_form_item sc_form_field"><input id="sc_form_username" type="text" name="username" placeholder="Name *"></div>
                              <div class="sc_form_item sc_form_field"><input id="sc_form_email" type="text" name="email" placeholder="E-mail *"></div>
                              <div class="sc_form_item sc_form_field"><input id="sc_form_subj" type="text" name="subject" placeholder="Subject"></div>
                           </div>
                           <div class="sc_form_item sc_form_message"><textarea id="sc_form_message" name="message" placeholder="Message"></textarea></div>
                           <div class="sc_form_item sc_form_button"><button class="sc_button sc_button_box sc_button_style_style3">Send</button></div>
                           <div class="result sc_infobox"></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>