<div class="page_content_wrap">
<div class="content_wrap">
<div class="content">
   <article class="post_item post_item_single ">
      <section class="post_featured">
         <div class="post_thumb">
            <a class="hover_icon hover_icon_view" href="img/v2/1170x659.jpg" title="Making the Most of Your Small Space with Furniture"><img alt="" src="img/v2/1170x659.jpg"></a>
         </div>
      </section>
      <section class="post_content">
         <div class="post_info">
            <span class="post_info_item">in <a href="#" class="category_link">Gallery</a></span>
            <span class="post_info_item vcard" itemprop="author">by <a href="#" class="post_info_author">Jesse Doe</a></span>
            <span class="post_info_item">On <a href="single-post.html" class="post_info_date date updated">March 9, 2016</a></span>
            <span class="post_info_item post_info_counters">	
		<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
            </span>
         </div>
         <p>Lorem ipsum dolor sit amet, at his sumo dolore vituperata. Iudico appareat cum te. Mea consul everti meliore ex, in eam velit ludus laboramus. Ut solum error ponderum pri. No mei natum electram instructior, vis duis saperet id. Enim facilisi cu eum.</p>
         <p>Te usu purto tempor rationibus, et nec docendi denique. In facete iuvaret deterruisset eam, ad quodsi cotidieque pri. Vis ornatus scaevola ei, an qui tractatos abhorreant, ex vis iudicabit gubergren. No audire volumus sensibus vis.</p>
         <p>Meliore theophrastus nam te, possit petentium democritum no vel. Qui in velit qualisque scripserit, no assum novum deserunt vix. Clita tacimates reformidans eu ius, duo id eros laboramus. Utroque vituperata interesset eam ut. Libris legimus epicurei te vis.</p>
         <p>Est ex illum sonet copiosae, at inani munere facete sit. Utamur nominavi sea ex, docendi torquatos deseruisse eos et. Mei aliquip dolores id, eum debitis eligendi lobortis ne. Nonumy voluptaria te est, idque feugiat vix ea, et case utroque accommodare eos. Sumo magna offendit ius no. Ius eu omnis quidam, amet audire quaerendum ei quo, agam latine per id.</p>
         <p>Ne mel dolor dissentiunt delicatissimi, nobis adipisci iracundia vis ei. Mei verterem splendide in, eos ad dicat choro quaerendum. Est dolores sententiae no, pro iusto dolorem an, quo alia invenire ut. Ei pro delicata mandamus repudiare, ne usu munere inermis. Ut quo tempor tamquam assueverit, vim utamur quaeque an.</p>
         <div class="post_info post_info_bottom">
            <span class="post_info_item">Tags: 
            <a class="post_tag_link" href="#">Bedroom</a>, 
            <a class="post_tag_link" href="#">Driveway</a>, 
            <a class="post_tag_link" href="#">Garage</a></span>
         </div>
      </section>
      <section class="post_author author vcard">
         <div class="post_author_avatar">
            <a href="#"><img alt='' src='http://2.gravatar.com/avatar/ee0eb16a7121e24ef8ffb79c5a067174?s=75&#038;d=mm&#038;r=g' class='avatar' /></a>
         </div>
         <div class="post_author_title"><a href="#">Jesse Doe</a></div>
         <div class="post_author_position">Senior agent</div>
         <div class="post_author_info" itemprop="description">
            The home is offered turnkey with furnishings and housewares, designed by Luk Architecture for island living. The grounds include a spa and separate Pool Pavilion. 
         </div>
      </section>
   </article>
</div>