














<div class="page_content_wrap">
   <div class="content_wrap">
      <div class="content">
         <article class="post_item post_item_single ">
            <section class="post_featured">
               <div class="post_thumb">
                  
                  <img alt="" src="<%= @blog_detail.blog_background_image %>">
                  <!-- <a class="hover_icon hover_icon_view" href="img/v3/1170x659.jpg" title="Making the Most of Your Small Space with Furniture">
                     <img alt="" src="img/v3/1170x659.jpg">
                  </a> -->
               </div>
            </section>
            <section class="post_content">
               <div class="post_info">
                  <span class="post_info_item">in <a href="#" class="category_link">Gallery</a></span>
                  <span class="post_info_item vcard" itemprop="author">by <a href="#" class="post_info_author">Jesse Doe</a></span>
                  <span class="post_info_item">On <a href="single-post.html" class="post_info_date date updated">March 9, 2016</a></span>
                  <span class="post_info_item post_info_counters">	
      		<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
                  </span>
               </div>
               <p><%= @blog_detail.description %></p>
               <!-- <div class="post_info post_info_bottom">
                  <span class="post_info_item">Tags: 
                  <a class="post_tag_link" href="#">Bedroom</a>, 
                  <a class="post_tag_link" href="#">Driveway</a>, 
                  <a class="post_tag_link" href="#">Garage</a></span>
               </div> -->
            </section>
            
            <section class="post_author author vcard">
               <div class="post_author_avatar">
                  <a href="#"><img alt='' src='http://2.gravatar.com/avatar/ee0eb16a7121e24ef8ffb79c5a067174?s=75&#038;d=mm&#038;r=g' class='avatar' /></a>
               </div>
               <div class="post_author_title"><a href="#">Jesse Doe</a></div>
               <div class="post_author_position">Senior agent</div>
               <div class="post_author_info" itemprop="description">
                  The home is offered turnkey with furnishings and housewares, designed by Luk Architecture for island living. The grounds include a spa and separate Pool Pavilion. 
               </div>
            </section>
         </article>
      </div>
   </div>
</div>