<%= content_for(:title, "Blog") %>

<br>
<br>
<div class="page_content_wrap">
	<div class="content_wrap">
		<div class="content">
			<div class="isotope_wrap" data-columns="3">
				<div class="isotope_item_masonry isotope_column_3">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html">
								<img alt="" src="img/v3/370x243.jpg"></a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">Which Area Rug Material is Right for Your Apartment?</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
				<div class="isotope_item_masonry isotope_column_2">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html">
								<img alt="" src="img/v3/370x294.jpg"></a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">Where to Find Removable Wallpaper</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
				<div class="isotope_item_masonry isotope_column_3">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html">
								<img alt="" src="img/v3/370x241.jpg"></a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">Classic Black, White and Gold Interiors</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
				<div class="isotope_item_masonry isotope_column_1">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html">
								<img alt="" src="img/v3/370x245.jpg"></a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">Freeform pool design using grass with cabana &#038; waterfall</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
				<div class="isotope_item_masonry isotope_column_4">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html"><img alt="" src="img/v3/370x248.jpg"></a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">The basics of good interior design – space, flow and function</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
				<div class="isotope_item_masonry isotope_column_2">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html">
								<img alt="" src="img/v3/370x244.jpg"></a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">Our homes and hearth – how life has changed</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
				<div class="isotope_item_masonry isotope_column_2">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html">
								<img alt="" src="img/v3/370x245.jpg"></a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">Geometric pool design using brick with gazebo &#038; decorative lighting</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
				<div class="isotope_item_masonry isotope_column_2">
					<article class="post_item post_item_masonry">
						<div class="post_featured">
							<div class="post_thumb">
								<a class="hover_icon hover_icon_link" href="single-post.html">
								<img alt="" src="img/v3/370x246.jpg">
								</a>
							</div>
						</div>
						<div class="post_content isotope_item_content">
							<div class="post_info">
								<span class="post_info_item">in <a href="#" class="category_link">Masonry 2 columns</a></span>
							</div>
							<h3 class="post_title"><a href="single-post.html">25 Amazing Bathroom Designs</a></h3>
							<div class="post_info">
								<span class="post_info_item">by <a href="#" class="post_info_author">Jesse Doe</a></span>
								<span class="post_info_item">On <a href="single-post.html">February 16, 2016</a></span>
								<span class="post_info_item post_info_counters">	
								<a class="post_counters_item" href="single-post.html#respond"><span>0</span> Comments</a>
								</span>
							</div>
							<div class="post_descr">
								<p>Lorem ipsum dolor sit amet, quis tation ius ut, sea paulo civibus efficiendi...</p>
								<a href="single-post.html" class="sc_button sc_button_text sc_button_iconed icon-right-dir">View details</a> 
							</div>
						</div>
					</article>
				</div>
			</div>
			<nav id="pagination" class="pagination_wrap pagination_pages">
				<span class="pager_current active">1</span>
				<a href="#">2</a>
				<a href="#" class="pager_next"></a>
				<a href="#" class="pager_last"></a>
			</nav>
		</div>
	</div>
</div>