<%= content_for(:title, "Contact") %>

<div class="page_content_wrap page_paddings_no">
	<div class="sc_section">
		<div class="content_wrap">
			<div class="columns_wrap">
			<div class="column-1_2">
				<div class="sc_section margin_top_xlarge margin_bottom_xlarge">
					<div class="sc_section_inner">
						<div class="bgtext1">
							<p>CONTACT US</p>
						</div>
						<h3 class="sc_title ind1 margin_top_null margin_bottom_null">Have a Questions?</h3>
						<p>We Can Help You</p>
						<div class="margin_top_xmedium">
							<p>Lorem ipsum dolor sit amet, et per rationibus mnesarchum, assum iusto errem est ut. Eos inani invidunt necessitatibus te. Exerci mucius sensibus mea ex, sea quot purto autem te. Ei tation tollit his. Eu vide liber regione mei. Nostrud lucilius has. Epicuri dissentiunt concludaturque sit ne.</p>
						</div>
						<div class="columns_wrap sc_columns margin_top_xmedium margin_bottom_xmedium">
							<div class="column-1_2 sc_column_item">
								<ul class="sc_list sc_list_style_iconed">
									<li class="sc_list_item">
										<span class="sc_list_icon icon-message106 color_2"></span>
										<p>email@company.com</p>
									</li>
									<li class="sc_list_item">
										<span class="sc_list_icon icon-open97 color_2"></span>
										<p>www.company.com</p>
									</li>
								</ul>
							</div>
							<div class="column-1_2 sc_column_item">
								<ul class="sc_list sc_list_style_iconed">
									<li class="sc_list_item">
										<span class="sc_list_icon icon-mobile29 color_2"></span>
										<p>800 123 45 67</p>
									</li>
									<li class="sc_list_item">
										<span class="sc_list_icon icon-paper6 color_2"></span>
										<p>800 123 45 67</p>
									</li>
								</ul>
							</div>
						</div>
						<div class="sc_socials sc_socials_type_icons sc_socials_size_small">
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-facebook"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-twitter"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-instagramm"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-plus-1"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-linkedin"></span></a></div>
							<div class="sc_socials_item"><a href="#" target="_blank" class="social_icons"><span class="icon-youtube-play"></span></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="column-1_2">
				<div class="sc_section margin_top_xlarge margin_bottom_xlarge">
					<div class="sc_section_inner">
						<figure class="sc_image"><img src="img/v2/570x407.jpg" alt="" /></figure>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	<div class="sc_section bg_color_1">
		<div class="columns_wrap sc_columns">
			<div class="column-1_2 sc_column_item">
				<div id="sc_googlemap_1" class="sc_googlemap" data-zoom="18" data-style="default">
					<div class="sc_googlemap_marker" data-title="" data-description="" data-latlng="" data-address="121 King Street, NY, USA" data-point="img/v2/logo-map.png"></div>
				</div>
			</div>
			<div class="column-1_2 sc_column_item">
				<div class="sc_section custom_box_form ">
					<div class="sc_section_inner">
						<h4 class="sc_title margin_top_null margin_bottom_xmedium">get in touch</h4>
						<div class="sc_form_wrap">
							<div class="sc_form">
								<form  data-formtype="form_custom" method="post" action="includes/sendmail.php">
									<div class="sc_form_info">
										<div class="sc_form_item sc_form_field"><input id="sc_form_username" type="text" name="username" placeholder="Name *"></div>
										<div class="sc_form_item sc_form_field"><input id="sc_form_email" type="text" name="email" placeholder="E-mail *"></div>
										<div class="sc_form_item sc_form_field"><input id="sc_form_subj" type="text" name="subject" placeholder="Subject"></div>
									</div>
									<div class="sc_form_item sc_form_message"><textarea id="sc_form_message" name="message" placeholder="Message"></textarea></div>
									<div class="sc_form_item sc_form_button"><button class="sc_button sc_button_box sc_button_style_style3">Send</button></div>
									<div class="result sc_infobox"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>