<%= content_for(:title, "Ibrochure") %>

<section class="ibrochure_box">

    <div class="ibrochure_top">
        <img src="img/v2/ibrochure_top.png">
    </div>
    <div class="ibrochure_list">
        <h3>
            CORE FEATURES
        </h3>
        <ul>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,<br>
                    consectetur adipiscing elit, sed do<br>
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>

            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
            <li>
                <span>
                    <img src="img/v2/ibrochure_test.png">
                </span>
                <h5>
                    UNLIMITED SHARE
                </h5>
                <p>
                    "Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore
                </p>
            </li>
        </ul>
        <div class="f_cb"></div>
    </div>
</section>

<section class="ibrochure_video">
    <h3>
        HOW IT’S WORK
    </h3>
    <div class="ibrochure_video_box">

        <video id="my-video" class="video-js" controls preload="auto"
               poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
            <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
            <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
            <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
        

    </div>
</section>


        <!-- 
        <script src="http://vjs.zencdn.net/5.18.4/video.min.js"></script>
        <script type="text/javascript">
            var myPlayer = videojs('my-video');
            videojs("my-video").ready(function(){
                var myPlayer = this;
                myPlayer.play();
                myPlayer.pause();
            });
        </script> -->