<section class="mybody">

        <div class="artical_box">
            <h3>
                WHY YOU SHOULD INVEST NILAI ?
            </h3>
            <h5>
                Posted on March 2, 2017  | 25 views | 	Topic : News & Articles, Twoacres News
            </h5>
            <div class="a_txt">
                <p>
                    <img src="img/v2/news-pic.png" style="width: 100%;margin: 10px 0px;">
                    <div class="share_me">
                        <ul>
                            <li>
                                <a href="#"><img src="img/v2/1.png"></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/v2/2.png"></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/v2/3.png"></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/v2/4.png"></a>
                            </li>
                            <li>
                                <a href="#"><img src="img/v2/5.png"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="f_cb"></div>

                    Lorem ipsum dolor sit amet,<br><br>

                    consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.<br><br>

                    In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Pha ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel  sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,<br><br>

                    <img src="img/v2/news-pic2.png" style="width: 100%;margin: 10px 0px;">
                    CIRCLES OF 5 WELLNESS PROGRAMME<br><br>

                    The Care Hub offers an innovative range of in-house services to enhance overall well-being. Called the Circles of 5 Wellness Programme, it encompasses physical, social, mental, emotional and financial aspects.<br><br>

                    Residents can look forward to activities such as zumba sessions, cooking classes, day trips, festive get-togethers, as well as financial-planning workshops. “To help alleviate mental stress, we will arrange for talks on stress-related topics or one-to-one consultations,.

                </p>

                <div class="share_me">
                    <ul>
                        <li>
                            <a href="#"><img src="img/v2/1.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/v2/2.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/v2/3.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/v2/4.png"></a>
                        </li>
                        <li>
                            <a href="#"><img src="img/v2/5.png"></a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="f_cb"></div>
        </div>

        <div class="more_news">
            <h3>
                MORE NEWS
            </h3>
            <ul>
                <li>
                    <img src="img/v2/news-lis.png">
                    <span>Judge extends hold on Trump travel ban</span>
                </li>
                <li>
                    <img src="img/v2/news-lis.png">
                    <span>Judge extends hold on Trump travel ban</span>
                </li>
                <li>
                    <img src="img/v2/news-lis.png">
                    <span>Judge extends hold on Trump travel ban</span>
                </li>

                <li>
                    <img src="img/v2/news-lis.png">
                    <span>Judge extends hold on Trump travel ban</span>
                </li>
                <li>
                    <img src="img/v2/news-lis.png">
                    <span>Judge extends hold on Trump travel ban</span>
                </li>
                <li>
                    <img src="img/v2/news-lis.png">
                    <span>Judge extends hold on Trump travel ban</span>
                </li>
            </ul>
            <div class="f_cb"></div>
        </div>

        <div class="blank20"></div>
    </section>

    <!--
    <section class="mybody">
        <div class="news_share">
            <h3>
                SHARE ON
            </h3>
            <img src="img/v2/ico-fb.png">
            <img src="img/v2/ico-gezi.png">
            <img src="img/v2/ico-linkin.png">
        </div>
    </section>
    -->