 <section class="tap_box">

        <div class="tap_top">
            <div class="tap_top_pic" onclick="openMask('join_box',1,'oBtn');">
                <img src="img/v2/tap-title.png">
            </div>
            <img src="img/v2/bg-tap.jpg">
        </div>

        <div class="body_about">

            <div class="tap_notice">
                Agent select a project they intend to market and work out a deal with Twoacres. Seal the deal together and sign & purchase agreement
            </div>

            <div class="about_txt">
                <div class="tap_left">

                    <div class="tap_left_1">
                        <h3>leads generation</h3>
                        <p>
                            aEvery agent as a part of us, will get a minimum 40 quality leads a month, more leads is given out based the sales performance in a month. Agent need not divert their attention in figuring out ways on getting leads. They can fully focus on what they do best, which is sealing the deal
                        </p>
                    </div>

                    <div class="blank20"></div>
                    <div class="tap_left_2">
                        <h3>
                            IBROCHURE
                        </h3>
                        <p>
                            Target potential buyers with contact,<br>
                            brochure of your property sent direct to<br>
                            their Whatssap! iBrochure sends to<br>
                            Whatssap to registered property seekers<br>
                            who are searching for property similar to<br>
                            yours. The iBrochure contains photos to<br>
                            showcase your property, a description,<br>
                            open for inspection, auction times and a<br>
                            map.
                        </p>
                    </div>
                    <div class="f_cb"></div>
                </div>

                <div class="tap_middle">
                    <div class="tap_m_1">
                        <h3>
                            instant comm
                        </h3>
                        <p>
                            With our strong financial background, we are able to issue payout instantly within 7 days right after the signing of sales & purchase agreement. purchase agreement.
                        </p>
                    </div>

                    <div class="blank20"></div>
                    <div class="tap_m_2">
                        <h3>
                            reservation system
                        </h3>
                        <p>
                            Twoacres is professional grade property management software for any business operating a reservation system. If you rent, lease or schedule business assets, reservation system can help you run your business effectively. Twoacres is improving the way guests and businesses connect with each other.
                        </p>
                        <a href="http://booking.twoacres.co">TRY NOW</a>
                    </div>
                    <div class="f_cb"></div>
                </div>

                <div class="tap_right">
                    <div class="tap_right_1">
                        <h3>
                            twoacres<br>
                            support<br>
                            team
                        </h3>
                        <p>
                            Twoacres internal team will fully provide assistance to our partners by organizing  sales event, handling digital marketing, project research and assisting agent to perform.
                        </p>
                    </div>

                    <div class="blank20"></div>
                    <div class="tap_right_2">
                        <h3>
                            TWOACRES<br>
                            SUPPORT<br>
                            TEAM
                        </h3>
                        <p>
                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="f_cb"></div>
                </div>

                <div class="f_cb"></div>
            </div>
        </div>
        <div class="blank1"></div>
        <div class="tap_logo">
            <img src="img/v2/logo_bottom.png">
        </div>
    </section>

    <div class="f_cb"></div>
    <section class="body_about">
        <div class="tap_list">
            <h3>PARTNERS TESTIMONAL</h3>
            <ul>
                <li>
                    <em><img src="img/v2/tap-list-1.png"></em>
                    <span>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </span>
                </li>
                <li>
                    <em><img src="img/v2/tap-list-2.png"></em>
                    <span>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                    </span>
                </li>
                <li>
                    <em><img src="img/v2/tap-list-3.png"></em>
                    <span>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </span>
                </li>
            </ul>
        </div>
    </section>


    <!-- 弹窗 check_ok Start~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

    <div id="mask"></div>

    <div class="join_box" id="join_box" style="display: none;">
        <h3>BE APART OF US</h3>
        <ul>
            <li>
                <input type="text" placeholder="Name">
            </li>
            <li>
                <input type="text" placeholder="Contact">
            </li>
            <li>
                <div class="blank20"></div>
                <button type="submit">SEND</button>
                <button type="submit" id="oBtn">CLOSE</button>
            </li>
        </ul>
    </div>
    <!-- 弹窗 check_ok End~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
