<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @floor_plan.project_id %>
</p>

<%= link_to 'Edit', edit_floor_plan_path(@floor_plan) %> |
<%= link_to 'Back', floor_plans_path %>
