<div class="row" id="content_div">
	<div class="col-lg-6">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">New Project</h3>
			</div>
      <%= render 'form' %>
    </div>
  </div>
</div>