<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @project.company_id %>
</p>

<%#= link_to 'Edit', edit_project_path(@project) %>
<%#= link_to 'Back', projects_path %>
