<div class="row" id="content_div">
	<div class="col-lg-6">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Lot detail</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<td>TP No: </td>
						<td class="text-center"><%= @lot.name %></td>
					</tr>
				
					<tr>
						<td>Lot Type: </td>
						<td class="text-center"><%= @lot.product_type.try(:name) %></td>
					</tr>

					<tr>
						<td>Selling Price: </td>
						<td class="text-center">RM <%= number_with_precision(@lot.selling_price, precision: 0, separator: ".", delimiter: ",")  %></td>
					</tr>

				</table>
			</div>

			<div class="panel-heading">
				<h4 class="panel-title">Buyer Detail</h4>
			</div>
      <%= render 'form' %>
    </div>
  </div>
</div>