<div class="row" id="content_div">
	<div class="col-lg-12">
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Lot detail</h3>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<tr>
						<td>TP No: </td>
						<td class="text-center"><%= @lot.name %></td>
					</tr>
				
					<tr>
						<td>Lot Type: </td>
						<td class="text-center"><%= @lot.product_type.try(:name) %></td>
					</tr>

					<tr>
						<td>Selling Price: </td>
						<td class="text-center">RM <%= number_with_precision(@lot.selling_price, precision: 0, separator: ".", delimiter: ",")  %></td>
					</tr>

				</table>
			</div>

			<div class="panel-heading">
				<h4 class="panel-title">Buyer Detail</h4>
			</div>
      <%= render 'form' %>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript">
	  $(document).ready(function() {
	    var wrapper = $("div#upload_fields");    
	    $(".upload_payments_wrapper").on('click', ".add_more_photo_button", function(e) {
	        e.preventDefault();
	        e.stopPropagation();

	        $(wrapper).append($("input#payment_image")[0].clone());
	    });
	  });
  </script>
<% end %>