<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sources_type.name %>
</p>

<%= link_to 'Edit', edit_sources_type_path(@sources_type) %> |
<%= link_to 'Back', sources_types_path %>
