<!-- LOGIN FORM -->
    <!--===================================================-->
    <div class="cls-content">
    <% if flash[:alert] %>
      <div style="margin-top:0px;">
        <%= flash[:alert]  %>
      </div>
    <% end %>
    
      <div class="cls-content-sm panel">
        <div class="panel-body">
          <p class="pad-btm">Sign In to your account</p>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <input type="text" name="user[email]" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                <input type="password" name="user[password]" class="form-control" placeholder="Password">
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8 text-left checkbox">
                <!-- <label class="form-checkbox form-icon">
                <input type="checkbox"> Remember me
                </label> -->
              </div>
              <div class="col-xs-4">
                <div class="form-group text-right">
                <button class="btn btn-success text-uppercase" type="submit">Sign In</button>
                </div>
              </div>
            </div>
            <!-- <div class="mar-btm"><em>- or -</em></div>
            <button class="btn btn-primary btn-lg btn-block" type="button">
              <i class="fa fa-facebook fa-fw"></i> Login with Facebook
            </button> -->
          <% end %>
        </div>
      </div>
      <div class="pad-ver">
        <a href="<%= new_user_password_path %>" class="btn-link mar-rgt">Forgot password ?</a>
       <!--  <a href="pages-register.html" class="btn-link mar-lft">Create a new account</a> -->
      </div>
    </div>
    <!--===================================================-->