<%= form_for(@region, html: {class: "panel-body form-horizontal form-padding"}) do |f| %>
  <%= f.hidden_field :product_id, value: @product.id  %>

  <div class="form-group">
    <label class="col-md-3 control-label" for="region_name">Name</label>
    <div class="col-md-9">
      <input type="text" id="region_name" name="region[name]" class="form-control" placeholder="Region name" value="<%= @region.name %>">
      <!-- <small class="help-block">This is a help text</small> -->
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-3 control-label" for="region_region_code">Region Code</label>
    <div class="col-md-9">
      <input type="text" id="region_region_code" name="region[region_code]" class="form-control" placeholder="Region Code" value="<%= @region.region_code %>">
    </div>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg back_btn" type="reset">Back</button>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  
  $(".back_btn").click(function(e){
    e.preventDefault();
    window.location.href='<%#= product_path(@product) %>';
  });
</script>
