<% users_id = [] %>
<% @user_ids.each do |p| %>
	<% users_id << p.user_id %>
<% end %>
<div id="user_access_customize-tab" class="tab-pane fade">
    <div class="panel">
    	<div class="panel-heading">
        <h3 class="panel-title">User Access List</h3>
      </div>
	    <div class="panel-body">
				<%= hidden_field_tag :product_id, nil, :value => @product.id %>
				
				<h3><u>User Access List</u></h3>
				<table class="table table-bordered table-hover">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Action</th>
					</tr>

					<% User.where(id: users_id).each do |user| %>
					<tr>
						<td><%= user.username rescue'-' %></td>
						<td><%= user.email  %></td>
						<td><%= link_to 'Remove', remove_customize_user_path(user, :product_id => @product.id), method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger btn-small" %></td>
				  </tr>
				  <% end %>
			  </table>

				<%#= submit_tag "Update", :class=>"btn btn-primary pull-right" %>
				<%# end %>
	    </div>
  </div>
</div>