			

<div class="panel">
	<div class="form-horizontal">
			<div class="panel-heading">
				<h3 class="panel-title"><u>Sign Up</u></h3>
			</div>
			<%= render 'form' %>

			<%= link_to 'Back', phases_path %>
	</div>
</div>