<%= form_tag confirm_sale_path(sale), {:class => 'panel-body form-horizontal form-padding'}  do %>

  <% if is_top_level_management? %>
     <div class="form-group">
          <label class="col-md-3 control-label" for="sale_user_id">Sale Person</label>
          <div class="col-md-9">
            <!-- Inline radio buttons -->
            <select class="selectpicker" name="sale[user_id]">
              <option value="">Select a name</option>
              <% current_user.company.members.each do |member| %>
                <option value="<%= member.id %>" <%= member.id == sale.user_id ? "selected='selected'" : nil %> ><%= member.username %></option>
              <% end %>
            </select>
          </div>
        </div>
    <br>
  <% end %>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_purchaser_name">Full name:</label>
    <div class="col-md-9">
      <input type="text" id="sale_purchaser_name" name="sale[purchaser_name]" class="form-control" placeholder="Full name" value="" required>
      <small class="help-block">Required field</small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_purchaser_ic_number">IC number:</label>
    <div class="col-md-9">
      <input type="text" id="sale_purchaser_ic_number" name="sale[purchaser_ic_number]" class="form-control" placeholder="IC number" value="" required minlength="12" maxlength="12">
      <small class="help-block">Required field. Example : 900826075088</small>
    </div>
  </div>
  <br>

   <div class="form-group">
    <label class="col-md-3 control-label" for="sale_purchaser_contact_number">Contact number:</label>
    <div class="col-md-9">
      <input type="text" id="sale_purchaser_contact_number" name="sale[purchaser_contact_number]" class="form-control" placeholder="Contact number" value="" required>
      <small class="help-block">Required field. Example : 0183998888</small>
    </div>
  </div>
  <br>

   <div class="form-group">
    <label class="col-md-3 control-label" for="sale_purchaser_address">Address</label>
    <div class="col-md-9">
      <textarea id="sale_purchaser_address" name="sale[purchaser_address]" rows="4" class="form-control" required></textarea>
      <small class="help-block">Required field</small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment">DownPayment(RM):</label>
    <div class="col-md-9">
      <input type="text" id="sale_downpayment" name="sale[downpayment]" class="form-control" placeholder="DownPayment" value="" required>
      <small class="help-block">Required field</small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment_percentage">Down Payment(%): </label>
    <div class="col-md-9">
      <input type="text" id="sale_downpayment_percentage" name="sale[downpayment_percentage]" class="form-control" placeholder="DownPayment percentage" value="">
      <small class="help-block"> </small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_downpayment_type">Payment Type: </label>
    <div class="col-md-9">
      <input type="text" id="sale_downpayment_type" name="sale[downpayment_type]" class="form-control" placeholder="Down Payment Type" value="">
      <small class="help-block"> </small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_bank_loan">Bank Loan: </label>
    <div class="col-md-9">
      <input type="text" id="sale_bank_loan" name="sale[bank_loan]" class="form-control" placeholder="Bank Loan" value="">
      <small class="help-block"> </small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label class="col-md-3 control-label" for="sale_spa">Lawyer Firm: </label>
    <div class="col-md-9">
      <input type="text" id="sale_spa" name="sale[spa]" class="form-control" placeholder="SPA Lawyer Firm" value="" required>
      <small class="help-block">Required field</small>
    </div>
  </div>
  <br>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
          <br>
        <button class="btn btn-info btn-labeled fa fa-user fa-lg" type="submit">Submit</button>
        <!-- <button class="btn btn-warning btn-labeled fa fa-repeat fa-lg" type="reset" id="back_btn">Back</button> -->
      </div>
    </div>
  </div>

<% end %>
