<div class="panel">

    
    <div class="panel-body">
      <div class="panel-heading">
      <h4>Summary Report</h4>
      </div>
      <hr>
    </div>
  </div>

  <div class="tab-base">
          
        <!--Nav Tabs-->
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#analysis_unit-tab">Unit Type</a>
          </li>
          <li>
            <a data-toggle="tab" href="#-tab">Unit Type</a>
          </li>
        </ul>

        <!--Tabs Content-->
        <div class="tab-content">
            <%= render "/reports/analysis_unit_tab" %>
            <%= render "/reports/analysis_age_tab" %>
            <%#= render "/reports/rejected_order" %>
        </div>
  </div>