 <div class="panel">

    <div class="panel-body">
      <div class="table-responsive">

        <table class="table table-bordered">
          <tr>
            <td>Total Unit :</td>
            <td>60</td>
            
          </tr>
          <tr>
            <td>Available Unit  :</td>
            <td>12</td>
            
          </tr>
          <tr>
            <td>Sold :</td>
            <td>48</td>
          </tr>
        <table>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Individual Sales</th>
              <th>Total</th>
              <th>Weekly</th>
              <th>Monthly</th>
              <th>Quaterly</th>
              <th>Yearly</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Desmond</td>
              <td>1</td>
              <td>1</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>

            <tr>
              <td>Admin</td>
              <td>2</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
              <td>0</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>