<div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">菜鸟教程</a>-->
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about_us">WHO ARE WE</a></li>
                <li><a href="/project_details">TWOACRES TEAM</a></li>
                <li>
                    <a href="/home">
                       <img src="img/logo.png">
                    </a>
                </li>
                <li>
                    <a href="/ibrochure">
                        iBROCHURE
                    </a>
                </li>
                <li>
                    <a href="/tap">
                        CONTACT US
                    </a>
                </li>
            </ul>
        </div>