<!--Brand logo & name-->
	<!--================================-->
	<div class="navbar-header">
		<a href="/" class="navbar-brand">
			<img src="/img/twoacres_logo.png" alt="ekDeveloper" class="brand-icon">
			<div class="brand-title">
				<span class="brand-text">Twoacres</span>
			</div>
		</a>
	</div>
	<!--================================-->
	<!--End brand logo & name-->