
					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">
						
									<!--Category name-->
									<!-- <li class="list-header">Navigation</li> -->
						
									<!--Menu list item-->
									<!-- <li class="active-link">
										<a href="/">
											<i class="fa fa-dashboard"></i>
											<span class="menu-title">
												<strong>Dashboard</strong> -->
												<!-- <span class="label label-success pull-right">Top</span> -->
											<!-- </span>
										</a>
									</li>
						
									<li class="list-divider"></li> -->
																
									<!--Category name-->
									<li class="list-header">System</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= reservations_path %>">
											<i class="fa fa-briefcase"></i>
											<span class="menu-title">Reservation</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									

								</ul>

							</div>
						</div>
					</div>
					<!--================================-->
					<!--End menu-->