
					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">
						
									<!--Category name-->
									<li class="list-header">Navigation</li>
						
									 <!--Menu list item-->
									<li class="active-link">
										<a href="/">
											<i class="fa fa-dashboard"></i>
											<span class="menu-title">
												<strong>Dashboard</strong> 
												<!-- <span class="label label-success pull-right">Top</span> -->
											 </span>
										</a>
									</li>

									<!--Menu list item-->
									<!-- <li  class="active-link">
										<a href="<%#= profile_companies_path %>">
											<i class="fa fa-pencil-square-o"></i>
											<span class="menu-title">
												<strong>Company Profile</strong>
												<span class="label label-success pull-right">Top</span>
											</span>
										</a>
									</li>
						 -->
									<!-- <li class="list-divider"></li> -->
																
									<!--Category name-->
									<li class="list-header">System</li>
						
									<!--Menu list item-->
									<li>
										<a href="<%= reservations_path %>">
											<i class="fa fa-shopping-cart"></i>
											<span class="menu-title">Reservation</span>
											<!-- <i class="arrow"></i> -->
										</a>
									</li>

									<li class="list-header">Sales History</li>
							
										<!--Menu list item-->
										<li>
											<a href="<%= sales_path %>">
												<i class="fa fa-calculator"></i>
												<span class="menu-title">Personal Sales</span>
												<!-- <i class="arrow"></i> -->
											</a>
										</li>

									<li class="list-header">Management</li>
									  <!--Menu list item-->

									  <li>
											<a href="<%= reports_path %>">
												<i class="fa fa-bar-chart"></i>
												<span class="menu-title">Report</span>
											</a>
										</li>
								</ul>

							</div>
						</div>
					</div>
					<!--================================-->
					<!--End menu-->