
					<!--Menu-->
					<!--================================-->
					<div id="mainnav-menu-wrap">
						<div class="nano">
							<div class="nano-content">
								<ul id="mainnav-menu" class="list-group">
						
									<!--Category name-->
									<li class="list-header">Navigation</li>
						
									<!--Menu list item-->
									<li class="active-link">
										<a href="<% supermin_board_path %>">
											<i class="fa fa-dashboard"></i>
											<span class="menu-title">
												<strong>Dashboard</strong>
												<!-- <span class="label label-success pull-right">Top</span> -->
											</span>
										</a>
									</li>
						
									<li class="list-divider"></li>
						
									<!--Category name-->
									<!-- <li class="list-header">Components</li> -->
						
						     
						        <!--Menu list item-->
										<!-- <li>
											<a href="<%= companies_path %>">
												<i class="fa fa-briefcase"></i>
												<span class="menu-title">Client</span>
												 <i class="arrow"></i>
											</a>
										</li> -->
						     
									<!--Menu list item-->
								<!-- 	<li>
										<a href="<%= projects_path %>">
											<i class="fa fa-briefcase"></i>
											<span class="menu-title">Project</span>
											<i class="arrow"></i>
										</a>
									</li> -->
						
									<!--Category name-->
									<li class="list-header">Management</li>
						
									
									  <!--Menu list item-->
										<li>
											<a href="<%= admins_path %>">
												<i class="fa fa-plug"></i>
												<span class="menu-title">
													Admin
													<!-- <span class="label label-mint pull-right">New</span> -->
												</span>
											</a>
										</li>
								
								</ul>

							</div>
						</div>
					</div>
					<!--================================-->
					<!--End menu-->