<!--Weather Widget-->
							<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
							<div id="demo-weather-widget" class="panel panel-mint panel-colorful text-center">
								<div class="panel-body">
					
									<!--Weather widget body-->
									<div class="row pad-top">
										<div class="col-xs-6">
											<canvas id="demo-weather-icon-1" width="98" height="98"></canvas>
										</div>
										<div class="col-xs-6">
											<p class="text-4x">27&#176;</p>
											<p class="text-semibold">Partly Cloudy Day</p>
										</div>
									</div>
					
									<h4 class="mar-no pad-top">San Jose, CA</h4>
									<p>Today</p>
					
									<hr>
					
									<!--Weather widget footer-->
									<ul class="list-unstyled text-center clearfix">
										<li class="col-xs-3">
											<canvas id="demo-weather-icon-2" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Saturday</p>
											<p>25 &#176;C</p>
										</li>
										<li class="col-xs-3">
											<canvas id="demo-weather-icon-3" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Sunday</p>
											<p>22 &#176;C</p>
										</li>
										<li class="col-xs-3">
											<canvas id="demo-weather-icon-4" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Monday</p>
											<p>20 &#176;C</p>
										</li>
										<li class="col-xs-3">
											<canvas id="demo-weather-icon-5" width="32" height="32"></canvas>
											<p class="text-sm mar-no">Monday</p>
											<p>28 &#176;C</p>
										</li>
									</ul>
								</div>
							</div>
							<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
							<!--End Weather Widget-->