<!DOCTYPE html>
<html lang="en-US" class="scheme_original">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="format-detection" content="telephone=no">
      <link rel="icon" type="image/x-icon" href="img/v3/favicon.png" />
      <title><%= yield(:title) %></title>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif%3A400%2C700%7CRaleway%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%7COpen+Sans%3A300%2C400%2C600%2C700%2C800%7CMontserrat%3A700%2C400&amp;subset=cyrillic%2Ccyrillic-ext%2Clatin%2Cgreek-ext%2Cgreek%2Clatin-ext%2Cvietnamese&amp;ver=1.6.11" type="text/css" media="all">

      <link rel='stylesheet' href='/js/v3/vendor/booked/font-awesome.min.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/js/v3/vendor/booked/styles.css' type='text/css' media='all' />

      <link rel='stylesheet' href='/js/v3/vendor/essgrid/tooltipster.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/js/v3/vendor/essgrid/tooltipster-light.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/js/v3/vendor/revslider/settings.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/js/v3/vendor/swiper/swiper.css' type='text/css' media='all' />

      <link rel='stylesheet' href='/css/v3/fontello/css/fontello.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/style.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/_animation.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/shortcodes.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/skin.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/custom-style.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/colors.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/responsive.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/skin.responsive.css' type='text/css' media='all' />
      <link rel='stylesheet' href='/css/v3/custom/_messages.css' type='text/css' media='all' />
   </head>

<body class="body_style_wide responsive_menu scheme_original top_panel_show top_panel_over sidebar_hide">

<div class="body_wrap">
   <div class="page_wrap">

      <%= render "layouts/v3/bar_v3" %>
      <br><br><br><br>
      <% if params[:action] == "listings" %>
         
         <% elsif params[:action] == "contact" %>
         <div class="top_panel_title top_panel_style_1  title_present scheme_original">
            <div class="top_panel_title_inner top_panel_inner_style_1 breadcrumbs_present_inner">
               <div class="content_wrap">
                  <h1 class="page_title">Contacts</h1>
                  <div class="breadcrumbs"><a class="breadcrumbs_item home" href="index.html">Home</a><span class="breadcrumbs_delimiter"></span><span class="breadcrumbs_item current">Contacts</span></div>
               </div>
            </div>
         </div>
         <% end %>
      </div>
      <%= yield %>     

      <%= render "layouts/v3/footer" %>

   </div>
</div>
      <a href="#" class="scroll_to_top icon-up"></a>

      <script type='text/javascript' src='/js/v3/vendor/jquery.js'>
      </script>
      <script type='text/javascript' src='/js/v3/vendor/jquery-migrate.min.js'>
      </script>
      <script type='text/javascript' src='/js/v3/vendor/essgrid/lightbox.js'>
      </script>
      <script type='text/javascript' src='/js/v3/vendor/essgrid/jquery.themepunch.tools.min.js'>
      </script>
      <script type='text/javascript' src='/js/v3/vendor/revslider/jquery.themepunch.revolution.min.js'>
      </script>
      <script type='text/javascript' src='/js/v3/vendor/modernizr.min.js'>
      </script>
      <script type='text/javascript' src='/js/v3/vendor/ui/jquery-ui.min.js'>
      </script>
      <script type='text/javascript' src='/js/v3/custom/plugins.js'></script>
      <script type='text/javascript' src='/js/v3/custom/messages.js'></script>
      <script type="text/javascript" src="/js/v3/vendor/revslider/revolution.extension.slideanims.min.js">
      </script>
      <script type="text/javascript" src="/js/v3/vendor/revslider/revolution.extension.layeranimation.min.js">
      </script>
      <script type="text/javascript" src="/js/v3/vendor/revslider/revolution.extension.navigation.min.js">
      </script>
      <script type='text/javascript' src='/js/v3/vendor/superfish.js'></script>
      <script type='text/javascript' src='/js/v3/vendor/parallax.js'></script>
      <script type='text/javascript' src='/js/v3/vendor/skrollr.min.js'></script>
      <script type='text/javascript' src='/js/v3/vendor/swiper/swiper.min.js'></script>
      <script type='text/javascript' src='/js/v3/custom/_utils.js'></script>
      <script type='text/javascript' src='/js/v3/custom/_init.js'></script>
      <script type='text/javascript' src='/js/v3/custom/_shortcodes.js'></script>
   </body>
</html>