<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="js/flash/css/css.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/style.css">

    <!--[if lt IE 9]>
        <script src="js/html5.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">菜鸟教程</a>-->
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">WHO ARE WE</a></li>
                <li><a href="#">TWOACRES TEAM</a></li>
                <li>
                    <a href="#">
                       <img src="img/logo.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        iBROCHURE
                    </a>
                </li>
                <li>
                    <a href="#">
                        CONTACT US
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="blank_top"></div>

    <section>
        <div class="home-top-pic">
            <img src="img/home-t-pic.png">
        </div>
    </section>

    <section class="flash_box">

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/flash.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="img/flash.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="img/flash.jpg" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>

    <section class="home_list" id="home_list">
        <ul>
            <li class="home_list_txt">
                <a>
                    <img src="img/homepage-1.png">

                    <div class="caption">
                        <h3>RESIDENCE LILI</h3>
                        <p>Feast your Idyllic lifestyle in the bustling integrated township of Putra Nilai in Nilai. Providing unrivaled privacy home nested immaculately within Green Beverly Hills, yet close to 5 star wellness hotel, bungalows, villas, colleges and universities within shopping malls reach. </p>

                        <a href="#" class="more">
                            MORE
                        </a>
                    </div>
                </a>
            </li>
            <li class="home_list_txt">
                <a>
                    <img src="img/homepage-2.png">

                    <div class="caption">
                        <h3>RENCANA ROYALE</h3>
                        <p>FAN EXCLUSIVE INVESTMENT OPPORTUNITY FOR THE PRIVILEGED FEW. RENCANA ROYALE presents an exclusive opportunity for Malay owners to invest in a unique 13-storey SOFO development featuring Corporate Suites in the sky, 2-storey Garden Suites, Deluxe Duplex Suites, Deluxe Suites, Executive Duplex Suites and Executive Suites.  </p>

                        <a href="#" class="more">
                            MORE
                        </a>
                    </div>
                </a>
            </li>
            <li class="home_list_txt">
                <a>
                    <img src="img/homepage-3.png">

                    <div class="caption">
                        <h3>RESIDENCE LILI</h3>
                        <p>Feast your Idyllic lifestyle in the bustling integrated township of Putra Nilai in Nilai. Providing unrivaled privacy home nested immaculately within Green Beverly Hills, yet close to 5 star wellness hotel, bungalows, villas, colleges and universities within shopping malls reach. </p>

                        <a href="#" class="more">
                            MORE
                        </a>
                    </div>
                </a>
            </li>

            <li class="home_list_txt">
                <a>
                    <img src="img/homepage-4.png">

                    <div class="caption">
                        <h3>RESIDENCE LILI</h3>
                        <p>Feast your Idyllic lifestyle in the bustling integrated township of Putra Nilai in Nilai. Providing unrivaled privacy home nested immaculately within Green Beverly Hills, yet close to 5 star wellness hotel, bungalows, villas, colleges and universities within shopping malls reach. </p>

                        <a href="#" class="more">
                            MORE
                        </a>
                    </div>
                </a>
            </li>
            <li class="home_list_txt">
                <a>
                    <img src="img/homepage-5.png">

                    <div class="caption">
                        <h3>RESIDENCE LILI</h3>
                        <p>Feast your Idyllic lifestyle in the bustling integrated township of Putra Nilai in Nilai. Providing unrivaled privacy home nested immaculately within Green Beverly Hills, yet close to 5 star wellness hotel, bungalows, villas, colleges and universities within shopping malls reach. </p>

                        <a href="#" class="more">
                            MORE
                        </a>
                    </div>
                </a>
            </li>
            <li class="home_list_txt">
                <a>
                    <img src="img/homepage-6.png">

                    <div class="caption">
                        <h3>RESIDENCE LILI</h3>
                        <p>Feast your Idyllic lifestyle in the bustling integrated township of Putra Nilai in Nilai. Providing unrivaled privacy home nested immaculately within Green Beverly Hills, yet close to 5 star wellness hotel, bungalows, villas, colleges and universities within shopping malls reach. </p>

                        <a href="#" class="more">
                            MORE
                        </a>
                    </div>
                </a>
            </li>

        </ul>
        <div class="f_cb"></div>
    </section>

    <section class="home_in">
        <a onclick="openMask('more_box',1,'ooBtn');">Interested in Working Together ? We love working with new partners - drop us a line.<span>GET IN TOUCH</span></a>
    </section>

    <section class="home_info">
        <div class="home_info_pic">
            <img src="img/home-left.png">
        </div>
        <div class="home_info_txt">
            <h3>
                WELCOME TO BE<br>
                TWOACRES PARTNERS
            </h3>
            <h5>
                WHERE REAL ESTATE & TECHNOLOGY COLLIDES
            </h5>
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br>
                do eiusmod tempor incididunt ut labore et dolore magna<br>
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation<br>
                ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse<br>
                cillum dolore eu fugiat nulla pariatur. Excepteur sint<br>
                occaecat cupidatat non proident, sunt in culpa qui officia<br>
                deserunt mollit anim id est laborum."

                TwoAcres capitalise on technology to transform the ,roperty<br>
                landscape using Big Data and Machine learning,with the<br>
                goal of making all property reseller life easier and allow to<br>
                find the right property. With this we have the further shorten the<br>
                whole sales and marketing process in property indus
            </p>
        </div>
        <div class="f_cb"></div>
    </section>

    <section class="parner_flash">
        <h3>OUR PARTNERS</h3>
        <div id="carousel-example-captions" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                <li data-target="#carousel-example-captions" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="img/home-parner.png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="img/home-parner.png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
                <div class="item">
                    <img src="img/home-parner.png" alt="...">
                    <div class="carousel-caption">
                        ...
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
                <span><img src="img/ico-left.png"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
                <span><img src="img/ico-right.png"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </section>

    <div class="blank_bottom"></div>
    <footer class="myfooter">
        COPYRIGHT RESERVED BY XYZ & NEXUS SDN BHD
    </footer>


    <!-- 弹窗 check_ok Start -->

    <div id="mask"></div>

    <div class="more_box" id="more_box" style="display: none;">
            <h3>STAY CLOSE WITH US</h3>

            <ul>
                <li><input type="text" class="form_c_text f_text_small" placeholder="NAME"><input style="margin-left: 3%;" type="text" class="form_c_text f_text_small" placeholder="CONTACT"></li>
                <li><input class="form_c_text" type="text" placeholder="EMAIL"></li>
                <li style="height: 165px;"><textarea class="form_c_area" type="text" placeholder="MESSAGE"></textarea></li>
                <li>
                    <button type="submit">SEND</button>
                    <button type="submit" id="ooBtn">CLOSE</button>

                    <div class="blank20"></div>
                </li>
            </ul>

    </div>
    <!-- 弹窗 check_ok End  -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script>
        /* 2 */
        $(function(){
            $(".home_list_txt").hover(
                    function(){
                        var that=this;
                        item2Timer=setTimeout(function(){
                            $(that).find('div.caption').slideDown(300);
                            $(that).find('.item2-txt').fadeOut(200);
                        },100);

                    },
                    function(){
                        var that=this;
                        clearTimeout(item2Timer);
                        $(that).find('div.caption').slideUp(300);
                        $(that).find('.item2-txt').fadeIn(200);
                    }
            );
        });
    </script>

    <script type="text/javascript" src="js/scrollto/jquery.scrollTo.js"></script>

    <script type="text/javascript">

        function mScroll(id){$("html,body").stop(true);$("html,body").animate({scrollTop: $("#"+id).offset().top}, 1000);}

        $(function(){
            $(".home-top-pic").click(function(){
                mScroll('home_list');
            });
        });
    </script>

    <script>
    $(function(){
        $('#carousel-example-generic').carousel({
            interval: 3000
        })
    });
    </script>

    <script src="js/myjs.js"></script>

</body>
</html>
